{{ define "main" }}
    <main aria-role="main">
        <div class="main-index-container">
            {{- with .Site.BaseURL }}
                <img src="{{.}}fb-profile-goldengate.jpg" alt="profile picture" class="profile-pic"/>
            {{- end }}

            <h1 style="margin-bottom: 0">{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p style="margin-top: 0">{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div class="social-icons-div">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
